{%extends 'adminbase.html' %}
{% load static%}
{% block title %} Change Password {% endblock %}
{% block body %}

<form action="{% url 'userauth:change_password' %}" method='post'>
    {%csrf_token%}
    Current Password:<input type="password" name="cur_password"><br>
    New Password:<input type="password" name="password"><br>
    confirm Password:<input type="password" name="password2"><br>
    <input type="submit">
</form>
<div>
    {%for message in messages%}
    <h3>{{message}}</h3>
    {%endfor%}
</div>
<br>
<a class="btn btn-primary mx-10 my-10" href="{% url 'userauth:home' %}">Home</a>
<a class="btn btn-danger mx-20 my-10" href="{% url 'userauth:logout'%}">LOGOUT</a>
{%endblock%}