{% extends 'adminbase.html' %}
<!DOCTYPE html>
{% load static %}
{% block title %}Login {% endblock %}

{% block active %} 
<li><a href="{% url 'userauth:home' %}">HOME</a></li>
    {% if user.is_authenticated %}
      <li class="active"><a href="/scheduling">EXISTING TEAMS</a></li>  
      <li><a href="{% url 'new_team' %}">CREATE TEAM</a></li>
      {% comment %} <li><a href="{% url 'team_request' par_id %}">TEAM REQUESTS</a></li> {% endcomment %}
      <li><a href="{% url 'view_calendar' %}">CALENDAR</a></li>
      {% else %}
     
      <li><a href="/userauth/login">Login</a></li>  
      <li><a href="/userauth/register">Register</a></li>
      {% comment %} <li><a href="{% url 'team_request' par_id %}">TEAM REQUESTS</a></li> {% endcomment %}
     {% endif%}
{% endblock %}

{% block body %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <!-- <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> -->
 {% comment %} {% if error_message %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error!</strong>           {{ error_message }}        

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
          </div>
          
        {% endif %}     {% endcomment %}

    <!-- Login Form -->
    <form action="{% url 'userauth:login'%}" method="POST">
    {% csrf_token %}
      <input required name="username"  id="login" type="text" class="fadeIn second"  placeholder="Username">
      <input required type="password" name= "password" id="password"  class="fadeIn third"  placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    
    </form>
  <p class="text-center">
    New to impresario?
    <a class="font-weight-bold" href="{% url 'userauth:register' %}">
    Register
    </a>
  </p>
    <!-- Remind Password -->
    {% comment %} <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password? </a>
    </div> {% endcomment %}

  </div>
</div>
{% endblock %}