{% extends 'templ/adminbase.html' %}
{% block title %} Meet (details) {% endblock %}
{% block body %} 
\
<div class="container text-center fadeIn" style="background-color:#ebf0ef;  border: solid; border-radius: 10px; border-color: #36b39a; padding: 40px;  margin: 0; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
<p>- @sakshi wants to create a group “Wireframes” under “Impresario”.</p>
<div class="center2">
<button type="button" class="btn btn-success btn-lg">Approve</button>
<button type="button" class="btn btn-danger btn-lg">Reject</button>
</div>
</div>
{% endblock %}