/* The sidebar menu */
/* .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  /* width: 300px; Set the width of the sidebar */
  /* position: fixed; Fixed Sidebar (stay in place on scroll) */
  /* z-index: 1; Stay on top */
  /* top: 0; Stay at the top */
  /* right: 0; */
  /* background-color: #C5C6C7;  */
  /* font-family: "Varela Round"; */
  /* overflow-x: hidden; Disable horizontal scroll */
/* }  */

/* The navigation menu links */
/* .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #1F2833;
  display: block;
  text-align: center;
} */

/* .sidenav { */
/*  opacity: 45%;*/
  /* font-weight: bold;
} */

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
  color: #0B0C10;
} */

/* Style page content */



.main {
  margin-right: 300px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: "Varela Round";
  background-color: #000;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar {
background-color: #0f0f0f;
  border-radius: 0px;
  font-size: 1.75rem;
  padding: 4px;
}
.nav {
  font-size: 1.75rem;
  padding: 4px;
  font-weight: bold;
  font-family: "Varela Round";
}

body {
  font-family: "Varela Round";
  font-weight: 580;
  
  opacity: 0.9;
}
/* body::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  z-index: -1;
  height: 1000px;
  width: 100%;
} */
h2 {
  font-size: 46px;
  text-align: left;
  padding-left: 10px;
  color: #57C0AB;
  font-family: "Varela Round";
}
p {
  font-size: 20px;
  left: 0px;
  padding-left: 10px;
  color: #5EAE9B;
  font-family: "Varela Round";
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  width: 150px;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 1500px;
}
.form-group {
 width: 500px;
 height: 50px;
 margin: auto;
 position: left;
}

/*.form-control {
  outline-width: 70px;
  height:40px;
}*/

